<div id="shortcut" [@shortcutState]="state">
  <ul>

    <li *ngFor="let item of botoes">
      <div class="Columns-item">
        <div class="BorderedBox jarvismetro-tile big-cubes bg-color-blueSenac">
          <div class="BorderedBox-img"
            [style.background-image]="'url(assets/img/modulos/' + item.moduloId + '.png)'"></div>
          <a class="BorderedBox-content" href="{{item.url}}">
            <p class="BorderedBox-tag">{{item.nome}}</p>
          </a>
        </div>
      </div>
    </li>

    <li class="pull-right">
      <a data-action="userLogout" data-logout-msg="" (click)="logout()" title="Sair"
        class="jarvismetro-tile big-cubes bg-color-orangeSenac">
        <span class="iconbox">
          <i class="fa fa-sign-out fa-2x"></i> Sair
        </span>
      </a>
    </li>
  </ul>
</div>